@model SUM_Project.ViewModels.TilbudDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.tilbud.titel)</h2>
<div>
    <a asp-action="Index">Tilbage</a>
</div>

<div>
    <hr />
    <h4>Detaljer</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.kunde_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.kunde_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.beskrivelse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.beskrivelse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.start_dato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.start_dato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.slut_dato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.slut_dato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.rabat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.rabat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.pris)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.pris)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tilbud.projekt_ansvarlig)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tilbud.projekt_ansvarlig)
        </dd>
    </dl>
</div>

<hr />
<h4>Håndværkere</h4>
<table class="table">
    <thead>
        <tr>
            <th width="15%">
                @Html.DisplayNameFor(model => model.håndværkstimervm[0].navn)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.håndværkstimervm[0].håndværkstimer.antal)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.håndværkstimervm[0].håndværkstimer.brugt)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.håndværkstimervm[0].håndværkstimer.rabat)
            </th>
            <th width="10%">

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.håndværkstimervm)
        {
            var path = item.håndværkstimer.tilbud_id + "/" + item.håndværkstimer.med_id;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.navn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.håndværkstimer.antal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.håndværkstimer.brugt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.håndværkstimer.rabat)
                </td>
                <td>
                    <div class="">
                        <a asp-action="Timer" asp-route-id="@path">Ret Timer</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Materialer</h4>
<table class="table">
    <thead>
        <tr>
            <th width="15%">
                @Html.DisplayNameFor(model => model.forbrugvm[0].navn)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.forbrugvm[0].forbrug.antal)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.forbrugvm[0].forbrug.brugt)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.forbrugvm[0].forbrug.rabat)
            </th>
            <th width="10%">

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.forbrugvm)
        {
            var path = item.forbrug.tilbud_id + "/" + item.forbrug.mat_id;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.navn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.forbrug.antal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.forbrug.brugt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.forbrug.rabat)
                </td>
                <td>
                    <div class="">
                        <a asp-action="Materialer" asp-route-id="@path">Ret Materialer</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
